content  {
    padding: 100px;
    background-color: #CBD8C1;
    color: #707070;
}

.details-img {
    width: 100%;
}

.description h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 40px;
}

.description p {
    text-align: left;
    font-weight: 400;
    font-size: 1.5rem;
}

.price {
    font-size: 2rem;
    margin: 40px 0 10px; /* top,left,bottom */
}

.price span {
    color: #EC7A23;
    font-weight: 700;
}

.add-cart button {
    background-color: #EC7A23;
    color: white;
    font-size: 2rem;
    width: 100%;
    padding: 10px;
    display: block;
    border: none;
    margin: 0 auto;
    border-radius: 3px;
} 

a {
    color: white;
    text-decoration: none;
}

.add-cart svg {
    width: 50px;
}

/* between details-reviews */
.reviews {
    margin: 100px 0; 
}

.review-item {
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.review-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.review-img img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.review-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.review-item p {
    font-weight: 400;
    font-size: 1rem;
    grid-column: 1/3;
    grid-row: 2;
}

.form-section {
    text-align: center;
}

.form-comment h2, .form-comment p {
    text-align: left; 
    font-size: 18px;
    font-weight: 500;
}

.form-comment h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 40px;
}

.form-comment input {
    margin-bottom: 40px;
    padding: 15px;
}

.form-comment textarea {
    resize: none;
}

.form-comment input, .form-comment textarea {
    width: 100%;
    border: 1px solid #9f9f9f;
    box-sizing: border-box;
    border-radius: 5px;
}

.form-comment input:focus, .form-comment textarea:focus {
    outline: none;
}

.price-cart {
    display: inline-block;
    width: 100%;
}

/* ___________DESKTOP_________________________________ */

@media only screen and (min-width: 992px) {

    content  {
        padding: 50px 100px;
    }

    .details-img {
        width: 30%;
        float: left;
        margin: 0 80px 0 0;
    }

    .description h2 {
        text-align: left;
        font-size: 2rem;
    }

    .description p {
        text-align: left;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .price-cart {
        width: auto;
        float: right;
    }
    
    .price {
        text-align: left;
        font-size: 2rem;
    }

    .add-cart button {
        font-size: 2rem;
        padding: 15px 60px;
    }

    .add-cart svg {
        width: 30px;
    }

    .reviews {
        margin: 300px 0;
    }

    .review-item {
        display: block;
        clear: both;
        margin-top: 100px;
    }

    .review-img {
        float: left;
        margin-right: 30px;
    }

    .review-item h3 {
        margin: 40px;
    }

    .review-item p {
        font-size: 1.5rem;
    }

    .form-section {
        display: flex;
        justify-content: center;
    }

    .form-comment {
        width: 40%;
    }

    .form-comment h2, .form-comment p {
        text-align: left;
    }

    .form-comment p {
        font-size: 1.5rem;
    }
}