content  {
    background-color: #CBD8C1;
    color: #707070;
    padding: 100px;
}

.details-img {
    width: 100%;
}

.description h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 40px;
}

.description p {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 400;
}

.price {
    font-size: 2rem;
    margin: 40px 0 10px; /* top,left,bottom */
}

.price span {
    color: #EC7A23;
    font-weight: 700;
}

.add-cart button {
    display: block;
    border: none;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;

    background-color: #EC7A23;
    color: white;

    font-size: 2rem;
} 

a {
    color: white;
    text-decoration: none;
}

.add-cart svg {
    width: 50px;
}

.reviews {
    margin: 100px 0; 
}

.review-item {
    display: grid;
    align-items: center;
    margin: 80px 0;
    grid-template-columns: repeat(2, 1fr);
}

.review-img {
    /* Positioning */
    position: relative;
    overflow: hidden;

    /* Display & Box Model */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}

.review-img img {
    position: absolute;
    left: 50%;
    top: 50%;

    width: auto;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.review-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.review-item p {
    grid-column: 1/3;
    grid-row: 2;

    font-weight: 400;
    font-size: 1rem;
}

.form-section {
    text-align: left;
}

.form-comment h2, 
.form-comment label {
    font-size: 18px;
    font-weight: 500;
}

.form-comment h2 {
    margin-bottom: 40px;
    font-size: 2rem;
}

.form-comment input {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 15px;
}

.form-comment textarea {
    margin-top: 10px;
    resize: none;
}

.form-comment input, 
.form-comment textarea {
    border: 1px solid #9f9f9f;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
}

.form-comment input:focus, 
.form-comment textarea:focus {
    outline: none;
}

.price-cart {
    display: inline-block;
    width: 100%;
}

/* ___________DESKTOP_________________________________ */

@media only screen and (min-width: 992px) {

    content  {
        padding: 50px 100px;
    }

    .details-img {
        float: left;
        margin: 0 80px 0 0;
        width: 30%;
    }

    .description h2 {
        font-size: 2rem;
        text-align: left;
    }

    .description p {
        font-weight: 400;
        font-size: 1.5rem;
        text-align: left;
    }

    .price-cart {
        float: right;
        width: auto;
    }
    
    .price {
        font-size: 2rem;
        text-align: left;
    }

    .add-cart button {
        font-size: 2rem;
        padding: 15px 60px;
    }

    .add-cart svg {
        width: 30px;
    }

    .reviews {
        margin: 300px 0;
        margin-bottom: 200px;
    }

    .review-item {
        display: block;
        clear: both;
        margin-top: 100px;
    }

    .review-img {
        float: left;
        margin-right: 30px;
    }

    .review-item h3 {
        margin: 40px;
    }

    .review-item p {
        font-size: 1.5rem;
    }

    .form-section {
        display: flex;
        justify-content: center;
    }

    .form-comment {
        width: 40%;
    }

    .form-comment h2, .form-comment label {
        text-align: left;
    }

    .form-comment label {
        font-size: 1.3rem;
    }
}