body {
    background-color: peachpuff;
    margin:0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 30% 50%; /* header, icons, actions */
}

.header {
    background-color: green;
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;*/
    /*height:4rem;*/
}

.header > a {
    font-size: 2rem;
}

.icons {
    background-color: blue;
}

.actions {
    background-color: yellow;
}