.box {
  background:blue;
  width:275px;
  height:300px;
  position:relative;
}

.box1 {
  background:red;
  width:100px;
  height:100px;
  position:absolute;
  top:50%;
  margin-left:50%; /*or left*/
  transform: translate(-50%, -50%); /*cu 50%mai in stanga si 50% mai in sus*/
  border-radius:50%; /*circle*/
 }