/**
.one{
  width: 100px;
}

.two{
  display: inline-block;
  margin: 20px 20px;
}

.third{
  display: inline;
  margin: 20px 20px;
}

.border{
  border: 1px solid black;
}

2
patrat in patrat


.box{
  background:blue;
  width:200px;
  height:200px;
  position:relative;
}

.box1{
  background:red;
  width:100px;
  height:100px;
  position:absolute;
  margin:25%; 
}

albastru nu schimba dimensiunea
**/
.box{
  background:blue;
  width:275px;
  height:300px;
  position:relative;
}

.box1{
  background:red;
  width:100px;
  height:100px;
  position:absolute;
  top:50%;
  margin-left:50%; /*sau left*/
  transform: translate(-50%, -50%); /*cu 50%mai in stanga si 50% mai in sus*/
  border-radius:50%; /*cerc*/
 }