.body {
    margin: 0;
}

.row, [class*="col-"] {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left; /*oriz*/
    background-color: #c4e;
    border: 1px solid #849;
    margin: 0 1%; /*ibetween lin, col*/
}

/*.row:before, .row:after{
    content:" ";
    display: table;
}

.row:after{
    clear:both;
}

*/
 
.col-1 {
    width: 6%; /*72/12*/
}

.col-2 {
    width: 12%; /*12 col*/
}


.row {
    display: flow-root;
}

.special {
    border: 5px solid black;
}

@media screen and (max-width: 620px){  /* media NOT--> invers*/
    .col-1 {
        width: 100%;
        margin: 0;
    }
}