
 html > body {  
	background-color: #dcdac8;
}

body h1 {
	color: #707070;
	margin-top:120px;
	margin-bottom: 20px;
	font-size: 2.5rem;
}

div {
	margin: 70px;
}

.selected {
	background-color: #829a41;
}

div:first-of-type {
	border: none; 
	box-shadow: none;
	text-align:left;
	width: 500px;
}

div:first-of-type h2 {	
	color: #707070;
	font-size:40px;
	margin-left:65px;
}

div ul:first-of-type li {
	text-align: left;
	font-size: 1.3rem;  
	padding-bottom:10px;
	padding-left:35px;
	padding-top:10px;
	margin: 30px;
	list-style-type:none;
}

div:last-of-type {
	background-color: #E5E4DC; 
	width: 260px;	
}

div:last-of-type h2 {
	color: #707070;
	font-size: 1rem !important;
}

body div:last-of-type li {
	color: #707070;
	border-radius: none;
	box-shadow: none;
	border: none;
	background-color: transparent;
	margin:-11px;
	text-align:left;
	list-style-type:circle;
}



