html body {
    font-family: 'Segoe UI';
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr auto;
    grid-template-areas: 
        "header"
        "footer";
    height: 100%;
}

header {
    display: grid;
    grid-area: header;

    background-color: #CBD8C1;
    color: #707070;
       
    font-size: 2rem;
    text-align: center;  
}

.top {
    align-self: center;
}

.top > p {
    margin: 60px;
}

.top > p:first-child {      
    font-family: 'Pacifico';
    font-size: 8rem;
}

.see-goods-btn { 
    margin-top: 200px;
    margin-bottom: 400px;

    font-size: 3rem;
}

a {
    /* Display & Box Model */
    border-radius: 5px;
    padding: 30px 100px; 

    /* Color */
    background-color: #EC7A23;
    color: white;

    /* Text */
    text-decoration: none;
}

/* _____________________DESKTOP___________________ */

@media only screen and (min-width: 992px) {   
    
    header {
        font-size: 2rem;
    }

    .top {
        margin: 8rem;
    }

    .top > p:first-child {
        font-size: 5rem;
    }

    .see-goods-btn {
        margin-top: 120px;
        margin-bottom: 130px;

        font-size: 2.5rem; 
    }

    a {
        padding: 20px 80px;
    }
} 