html, body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr auto;
    grid-template-areas: 
            "header"
            "main"
            "footer";
}

header {
    background-color: #434A3E;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 1fr;
}

.top, .bars {
    display: inline-block;
    margin: 30px;
}

.bars {
    width: 3rem;
    margin-left: auto; 
    margin-right: 5rem;
}

.top > a {
    display: none;
    text-decoration: none;
}

.cart-login {
    display: none;
}

.top > h1 {
    text-align: left;
    margin-left: 5rem;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}


/* ______________DESKTOP__________________________________ */

@media only screen and (min-width: 992px) {

    .top {
        text-align: left;
        margin: 15px;
    }

    .top > h1 {
        display: inline-block;
        font-size: 2rem;
        margin-left: 5rem;
        margin-right: 1.5rem;
    }

    a, a:active, a:hover {
        color: white;
        text-decoration: none;
    }

    .bars {
        display: none;
    }
    
    /* Home, List */
    .top > a {
        display: inline-block;
        margin: 0 20px;           
    }

    .cart-login {
        display: inline-block;
        margin: 20px;
        text-align: right;
    }

    /* icon */
    .cart-login > a > svg {
        width: 2rem;
    }

    /* cart */
    .cart-login > a:first-child {
        position: relative;
    }
    
    /* login */
    .cart-login > a:last-child {
        margin: 0 50px;
    }

    .count-items {
        position: absolute;
        font-size: 0.5rem;
        top: -7px;
        left: 65px;
        padding: 6px;
        background-color: #EC7A23;
        border-radius: 100%;
        color: white; 
    }

    a svg {
        display: inline-block;
        vertical-align: text-bottom;
    }
}